@import url(https://fonts.googleapis.com/css?family=Monofett);

.brush {
  width: 50px;
  height: 50px;
  background: #1B4370;
  display: inline-block;
  margin-right: 10px;
  float: left;
}

form {
  display: inline-block;
  float: right;
  margin-top: 15px;
}

.square {
  float: left;
  width: 10px;
  height: 10px;
  background: #E7E5DB;
  margin: 0;
}

h1 {
  font-family: Monofett;
  font-size: 55px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.controls {
  text-align: center;
  max-width: 300px;
  margin: auto;
  clear: both;
  display: block;
  padding-bottom: 40px;
}

#art {
  display: block;
  clear: both;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  max-width: 1000px;
  min-height: 500px;
}

#image-output {
  margin: auto;
  margin-top: 20px;
  max-width: 1000px;
  min-height: 500px;
}

input#btnSave {
    display: block;
    float: none;
    clear: both;
    margin: auto;
}
